altair
angelcommunity==2.0.0
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru==2.0.4
attrs
Babel
beautifulsoup4==4.11.1
bimlpa==0.1.2
bleach
blinker
Bottleneck
Brotli
cached-property
cachetools
cdlib==0.3.0
certifi
cffi
charset-normalizer==2.1.1
click
click-plugins==1.1.1
cligj==0.7.2
colorama
comm
contourpy
cycler
debugpy
decorator
defusedxml
demon==2.0.6 
dynetx==0.3.2 
entrypoints 
eva-lcd==0.1.1 
exceptiongroup 
executing 
fastjsonschema 
fiona==1.9.5 
fonttools==4.25.0 
fqdn 
future==1.0.0 
geopandas==0.14.3 
gitdb 
GitPython 
h11==0.14.0 
httpcore==1.0.4 
httpx==0.27.0 
idna 
igraph==0.11.4 
importlib-metadata 
importlib_resources 
ipykernel 
ipython 
ipython-genutils==0.2.
ipywidgets==7.
isoduration 
jedi 
Jinja2 
joblib==1.
json5 
jsonpickle
jsonpointer 
jsonschema  
jsonschema-specifications  
jupyter-events  
jupyter-lsp==
jupyter_client  
jupyter_core  
jupyter_server  
jupyter_server_terminals  
jupyterlab==
jupyterlab-widgets==
jupyterlab_pygments  
jupyterlab_server  
keplergl==
kiwisolver  
Levenshtein==
mamba-gator  
markdown-it-py  
markov-clustering==
MarkupSafe  
matplotlib  
matplotlib-inline  
mdurl  
mistune  
mkl-fft  
mkl-random  
mkl-service==
munkres==
nb_conda_kernels  
nbclient  
nbconvert  
nbformat  
nest-asyncio  
networkx==
nf1==
notebook==
notebook_shim==
numerize==
numerizer   
numexpr   
numpy   
overrides   
packaging   
pandas   
pandocfilters   
parso   
patsy==
Pillow==
pkgutil_resolve_name   
platformdirs   
plotly   
ply==
pooch==
prometheus_client   
prompt-toolkit   
protobuf   
psutil   
PuLP==
pure-eval   
pyarrow   
pycparser   
pydeck   
Pygments   
Pympler   
pyparsing   
pyproj==
PyQt5==
PyQt5-sip    
PySocks    
python-dateutil    
python-dotenv==
python-igraph==
python-json-logger    
python-Levenshtein==
python-louvain==
pytz    
pyvis==
pywin32    
pywinpty    
PyYAML    
pyzmq    
rapidfuzz==
referencing    
requests==
rfc3339-validator    
rfc3986-validator    
rich    
rpds-py    
scikit-learn==
scipy==
seaborn    
selenium==
semver    
Send2Trash    
shapely==
sip    
six    
smmap    
sniffio    
soupsieve    
stack-data    
statsmodels    
streamlit     
streamlit-keplergl==
tenacity     
terminado     
texttable==
threadpoolctl==
thresholdclustering==
tinycss2     
toml     
toolz     
tornado     
tqdm==
traitlets     
traittypes==
types-python-dateutil     
typing-utils     
typing_extensions     
tzdata     
tzlocal     
uri-template     
urllib3==
validators     
watchdog     
wcwidth     
webcolors     
webdriver-manager==
webencodings==
websocket-client==
